@page "/"

@inject ForzaTelemetry.ForzaModels.ForzaListener.ForzaListenerService fmListener


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="foo">
    Switch recording: @_shouldListen
</button>

<ul>
@foreach (var lapTime in _lapTimes) {
    <li>
        @Convert.ToDateTime(lapTime)
    </li>
}
</ul>


@code {
    bool _shouldListen = true;
    readonly List<float> _lapTimes = [];

    void foo() {
        fmListener.ReceiverTask();
    }
    
    protected override void OnInitialized() {
        base.OnInitialized();
    }
}