@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    // float _rpm;
    // readonly ForzaListenerService _fmListener = new();
    //
    // async void UpdateLapTimes() {
    //     while (true) {
    //         _fmListener.ReceiverTask();
    //         _rpm = _fmListener.rpm;
    //         
    //         Console.WriteLine(_rpm);
    //         StateHasChanged();
    //         
    //         await Task.Delay(1000);
    //     }
    // }

}