@page "/"
@implements IDisposable

@using ForzaTelemetry.ForzaModels.DataOut
@using ForzaTelemetry.ForzaModels.Interfaces
@using UdpListenerService.Listeners

@inject FmFhListener listener

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!listener.IsListening) {
    <button @onclick="OpenListener">
        Start recording
    </button>
} else {
    <button @onclick="() => { listener.StopListening(); }">
        End Listening
    </button>
}

@if (_fm8DataOutDashes.Count > 0) {
    <div>
        @foreach (var tireData in _fm8DataOutDashes.LastOrDefault(new Fm8DataOutDash()).GetTiresData()) {
            <p>Tire Data</p>
            <div>
                <p>Temperature: @tireData.Temperature</p>
                <p>Wear: @tireData.Wear</p>
            </div>
        }
    </div>
}

Hello World

@code {
    private readonly CancellationTokenSource _cancellationTokenSource = new();
    private readonly List<Fm8DataOutDash> _fm8DataOutDashes = [];

    protected override bool ShouldRender() => true;

    private void OpenListener() {
        if (listener.IsListening) return;

        // Add events

        listener.OnPacketFormatted += CollectReceivedPackets;

        // Start listener
        Task.Run(() => listener.StartListening());

        Console.WriteLine("Opened listener");
    }

    private void CollectReceivedPackets(byte[] _, IDataOut dataOut) {
        if (dataOut is not Fm8DataOutDash fm8DataOut) return;
        if (fm8DataOut.IsRaceOn == 0) return;

        _fm8DataOutDashes.Add(fm8DataOut);

        InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        listener.OnPacketFormatted -= CollectReceivedPackets;

        _cancellationTokenSource.Dispose();
    }

}