@page "/"
@implements IDisposable

@using UdpListenerService.Listeners


@inject FmFhListener listener

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!listener.IsListening) {
    <button @onclick="ev => listener.StartListening()">
        Start recording
    </button>
} else {
    <button @onclick="() => { _cancellationTokenSource.Cancel(); }">
        End Listening
    </button>
}

@code {
    private readonly CancellationTokenSource _cancellationTokenSource = new();

    protected override void OnInitialized() {
        // listener.OnPacketReceived += ShowReceivedData;
        
        base.OnInitialized();
    }

    private void ShowReceivedData() {
        Console.WriteLine($"{listener.IsListening}");   
    }

    public void Dispose() {
        // listener.OnPacketReceived -= ShowReceivedData;
        _cancellationTokenSource.Dispose();
    }

}