@page "/"
@rendermode InteractiveServer

@inject UdpListenerService.ListenerTest ListenerTest

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ol>
    @foreach (var lap in _lapData) {
        <li>
            @lap
        </li>
    }
</ol>


@code {
    private readonly List<float> _lapData = [];

    protected override void OnInitialized() {
        ListenerTest.OnPacketSend += () => {
            // using var dbContext = new TelemetryDbContext();
            // _lapData = dbContext.LapData.ToList();
            _lapData.Add(ListenerTest.LastPacket.CurrentLap);
    
            StateHasChanged();
        };
    }

}